<!-- 1st Footer Declaration  -->

<div class="container footerText">
  <footer>
    Terms & Conditions: <br />
    At Pay Way, we prioritize the security, safety, and accuracy of every
    transaction. Our payment gateway utilizes industry-leading encryption
    protocols, including SSL encryption and compliance with PCI DSS standards,
    to protect your personal and financial information. We continuously monitor
    for fraud and unauthorized activities to safeguard your data. By using Pay
    Way, you agree to our security measures and acknowledge that, while we take
    extensive precautions to prevent security breaches, we cannot guarantee
    absolute security due to inherent risks in online transactions.
    <br />
    We are committed to maintaining the accuracy of transaction details and
    ensuring that your payment process is seamless. However, it is your
    responsibility to ensure that all information provided, such as payment
    details and billing information, is accurate. Pay Way will not be liable for
    any issues arising from inaccurate data entered by you. In case of
    discrepancies or disputes, we encourage you to promptly contact our support
    team, and we will work with you to resolve the issue in a timely manner.
    <br />
    In line with our privacy commitment, we collect and process your personal
    and payment information solely for the purpose of completing transactions
    and improving service efficiency. We use strict data protection measures to
    prevent unauthorized access to your information, and we do not share your
    personal details with third parties unless required by law or necessary for
    transaction completion. By using Pay Way, you consent to the practices
    outlined in our Privacy Policy and agree that we may retain your data as
    necessary for legal compliance and business operations.
  </footer>
</div>

<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-body-secondary">About</a>
    </li>
  </ul>
  <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
</footer>