<!-- Code  -->
<section class="left  bg-body-tertiary" style="height: 34rem; padding: 1rem; border-right: 1px solid #ebeef2;">


  <nav class="nav nav-pills flex-column">
    <ul>
      <li><a class="nav-link " id="login" href="/main/loginPage">Login</a></li>
      <li> <a class="nav-link" id="l=SignUp" href="/main/signupPage">SignUp</a></li>
      <li> <a class="nav-link" id="Order" href="/main/<%=currUser._id %>/details">Order</a></li>
      <li> <a class="nav-link" id="complaint" href="/main/<%=currUser._id %>/complaint">Raise Complaints</a>
      </li>
    </ul>
  </nav>
</section>