<% layout("/layouts/sidebar.ejs") %>


  <!-- form declarations -->
  <form method="POST" action="/main/loginPage">
    <div class="orderForm" style="max-width: 1000px; margin: 2rem; margin-left: 10rem;">
      <!-- <div class="row">
      <div class="col-8"> -->
      <h3 class="offset-4" style="margin-top: 0.61rem;"><i class="fa-solid fa-user-plus"></i>Login to Pay Way</h3>
      <hr style=" color: blue;" />
      <br />
      <!-- username declarations -->
      <label for="username" class="form-label" style="font-weight: 100;">Username : </label>
      <input type="text" name="username" placeholder="ayushghole" class="form-control" id="username" />
      <br />
      <br />
      <!-- password declarations -->
      <label for="password" class="form-label" style="font-weight: 100;">Password : </label>
      <input type="password" name="password" placeholder="ayush@1222" class="form-control" id="password" />
      <br />
      <br />
      <button class="btn btn-success">Login</button>

      <hr style="color: blue;" />
    </div>
    <!-- </div>

    </div> -->

  </form>